/* Selectors (General Rules) */
:root {
    /* Color pallete: https://colorhunt.co/palette/fcf8ecd0e8f279a3b1456268 */
    --main-color: #D0E8F2;
    --sub-color: #79A3B1;
    --dark-color: #456268;
    --light-color: #FCF8EC;
    --transparent: rgba(0,0,0,0);
}

body {
    background-color: var(--light-color);
    overflow-x: hidden;
    font-size: 62.5%; /* 1rem = 10px () */
}

*,
*::before,
*::after {
    margin: 0;
    padding: 0;
    box-sizing: inherit;
}

h1, h2, h3, h4, h5, h6 {
    font-family: 'Merriweather', serif;
}

p, a, li {
    font-family: 'Roboto', sans-serif;
}

h1 {
    font-size: 8rem;
}

h2 {
    font-size: 6.8rem;
}

h3 {
    font-size: 5.6rem;
}

h4 {
    font-size: 4.4rem;
}

h5 {
    font-size: 3.2rem;
}

h6 {
    font-size: 2rem;
}

p {
    font-size: 1.6rem;
}

/* Class */
.screen {
    position: relative;
    height: 100vh;
    z-index: 10;
    overflow: hidden;
    background-color: var(--light-color);
}

.screen.dark {
    background-color: var(--dark-color);
}

.box {
    position: absolute;
    top: 25%;
    left: 10rem;

    display: inline-block;
    height: 25%;
    border: 1rem solid var(--light-color);
    padding: 5% 3%;
}

.background-img-container {
    position: absolute;
    z-index: -10;

    width: 100%;
}

.subheading {
    padding: 1% 0;
    font-size: 3.2rem;
}

.menu {
    padding-top: 2%;
}

.menu .menu-item {
    display: inline-block;
    margin-right: 4%;

    cursor: pointer;
    font-size: 2rem;
}

.menu .menu-item a {
    color: var(--dark-color);
    text-decoration: none;
}

.menu .menu-item a:hover {
    color: var(--sub-color);
}

.menu .menu-item a:hover .square {
    background-color: var(--sub-color);
    transform: translateY(10%) rotate(45deg) scale(0.65);
}

.squarebox {
    position: relative;
    display: inline-block;
    height: 2rem;
    width: 2rem;
}

.square {
    position: absolute;
    top: 0;
    left: 0;

    width: 100%;
    height: 100%;
    background-color: var(--dark-color);

    transform: translateY(10%) rotate(45deg) scale(0.5);
}

.square-clear {
    position: absolute;
    top: 0;
    left: 0;

    width: 100%;
    height: 100%;
    background-color: var(--transparent);
    border: .5rem solid var(--main-color);

    transform: translate(-45%, -10%) rotate(45deg) scale(0.5);
}

.square.alt {
    background-color: var(--main-color);
}

.square-clear.alt {
    border: .5rem solid var(--dark-color);
}

.titlebox {
    padding-top: 6%;
    padding-left: 14.5rem;
}

.titlebox h2 {
    line-height: 6rem;
}

.titlebox p {
    font-size: 2.4rem;
}

.grid {
    display: grid;
    grid-template-rows: 1fr;
    grid-template-columns: 1fr 1fr 1fr;
    column-gap: 4rem;

    margin-top: 1%;
    padding: 0 14.5rem;
}

.grid .grid-item {
    padding-left: 2rem;
    padding-top: 1rem;
    padding-bottom: 1rem;
    background-color: var(--dark-color);
}

.grid .grid-item h6 {
    padding-bottom: .8rem;
}

.grid .grid-item .menu {
    padding: 1rem;
    height: 83%;
    border: .4rem solid var(--light-color);
}

.grid .grid-item .menu .menu-item {
    display: block;
    cursor: default;
    margin-top: .4rem;
}

.grid .square {
    transform: translateY(15%) rotate(45deg) scale(0.5);
}

.grid .square-clear {
    transform: translate(-45%, -6%) rotate(45deg) scale(0.5);
}

.flex {
    margin-top: 2%;
    height: 68%;

    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: stretch;
}

/* Default behavior */
.flex:not(:hover) .flex-item .flex-content {
    top: 40%;
    left: 20%;

    width: 60%;
    min-height: 15%;
    /* opacity: 1; */
}

.flex:not(:hover) .flex-item .flex-content .flex-title {
    display: inline-block;
} 

.flex:not(:hover) .flex-item .flex-content .flex-description-box {
    display: none;
} 

.flex-item {
    position: relative;
    height: 100%;
    width: 100%;

    flex: 1;

    text-align: center;
    align-self: center;
    overflow: hidden;
}

.flex-content {
    position: absolute;
    top: 40%;
    left: 20%;

    width: 60%;
    min-height: 15%;

    background-color: rgba(208,232,242,.9);

    display: flex;
    align-items: center;
    justify-content: center;
}

.flex-title {
    display: inline-block;
    margin: 0;
}

.flex-description-box {
    text-align: justify;
    
    width: 90%;
    line-height: 2rem;
}

.flex-link {
    text-decoration: none;
    color: var(--dark-color);

    background-color: var(--light-color);
    line-height: 7rem;
    font-size: 1.6rem;
    padding: 1rem;
}

/* Hover Flex behavior */
.flex-item:hover {
    flex-grow: 10;
    
}

.flex-item:hover .flex-content {
    top: 10%;
    left: 4%;

    width: 88%;
    height: 80%;

    flex-direction: column;
    align-items: flex-start;
    justify-content: flex-start;
    
    padding-left: 4%;
    padding-top: 2%;
} 

.flex-item:hover .flex-content .flex-description-box {
    display: block;
}

.flex-item:hover .flex-content .flex-title {
    display: block;
    line-height: 7rem;
} 

.flex-item:hover .flex-content .flex-link:hover {
    color: var(--sub-color);
} 

/* Not hover flex behavior */
.flex-item:not(:hover) .flex-content {
    /* opacity: 0; */
}

.flex-item:not(:hover) .flex-content .flex-title, .flex-description-box{
    display: none;
}

.blur {
    -webkit-filter: blur(3px);
    -moz-filter: blur(3px);
    -o-filter: blur(3px);
    -ms-filter: blur(3px);
    filter: blur(3px);
}

.icon-container {
    padding-top: 2rem;
    font-size: 4rem;
    display: flex;
    justify-content: space-evenly;
    width: 100%;
}

/* ID */
#intro {
    background: linear-gradient(90deg, rgba(208,232,242,1) 0%, rgba(208,232,242,1) 60%, rgba(208,232,242,0) 75%);
    color: var(--dark-color);
}

#skills {
    background: linear-gradient(rgba(69,98,104,1) 75%, rgba(208,232,242,0.6) 100%);
    color: var(--main-color);
}

#portfolio {
    color: var(--dark-color);
}

#contact {
    color: var(--main-color);
    background: linear-gradient(rgba(69,98,104,1) 75%, rgba(208,232,242,0.6) 100%);
}

#contact a{
    color: var(--main-color);
}

#contact a:hover{
    color: var(--light-color);
}

#contact .box {
    left: 30%;
    top: 15%;
}




/* Start of the file */
h1 {
    font-size: 4rem;
}

h2 {
    font-size: 3.6rem;
}

h3 {
    font-size: 3.2rem;
}

h4 {
    font-size: 2.8rem;
}

h5 {
    font-size: 2.4rem;
}

h6 {
    font-size: 2rem;
}

p {
    font-size: 1.6rem;
}

/* Class */
.screen {
    position: relative;
    height: 100vh;
    z-index: 10;
    overflow: hidden;
    background-color: red;
}

.screen.dark {
    background-color: blue;
}

.box {
    position: absolute;
    top: 25%;
    left: 5%;

    display: inline-block;
    height: 25%;
    border: 1rem solid var(--light-color);
    padding: 5% 3%;
}

.background-img-container {
    position: absolute;
    z-index: -10;

    width: 100%;
}

.subheading {
    padding: 1% 0;
    font-size: 2rem;
}

.menu {
    padding-top: 2%;
}

.menu .menu-item {
    display: inline-block;
    margin-right: 4%;

    cursor: pointer;
    font-size: 2rem;
}

.menu .menu-item a {
    color: var(--dark-color);
    text-decoration: none;
}

.menu .menu-item a:hover {
    color: var(--sub-color);
}

.menu .menu-item a:hover .square {
    background-color: var(--sub-color);
    transform: translateY(10%) rotate(45deg) scale(0.65);
}

.squarebox {
    position: relative;
    display: inline-block;
    height: 2rem;
    width: 2rem;
}


.square {
    position: absolute;
    top: 0;
    left: 0;

    width: 100%;
    height: 100%;
    background-color: var(--dark-color);

    transform: translateY(10%) rotate(45deg) scale(0.5);
}

.square-clear {
    position: absolute;
    top: 0;
    left: 0;

    width: 100%;
    height: 100%;
    background-color: var(--transparent);
    border: .5rem solid var(--main-color);

    transform: translate(-45%, -10%) rotate(45deg) scale(0.5);
}

.square.alt {
    background-color: var(--main-color);
}

.square-clear.alt {
    border: .5rem solid var(--dark-color);
}
