
/* Selectors (General Rules) */
:root {
    /* Color pallete: https://colorhunt.co/palette/fcf8ecd0e8f279a3b1456268 */
    --main-color: #D0E8F2;
    --sub-color: #79A3B1;
    --dark-color: #456268;
    --light-color: #FCF8EC;
    --transparent: rgba(0,0,0,0);
}

body {
    background-color: var(--light-color);
    overflow-x: hidden;
    font-size: 62.5%; /* 1rem = 10px () */
}

*,
*::before,
*::after {
    margin: 0;
    padding: 0;
    box-sizing: inherit;
}

h1, h2, h3, h4, h5, h6 {
    font-family: 'Merriweather', serif;
}

p, a, li {
    font-family: 'Roboto', sans-serif;
}

h1 {
    font-size: 8rem;
}

h2 {
    font-size: 6.8rem;
}

h3 {
    font-size: 5.6rem;
}

h4 {
    font-size: 4.4rem;
}

h5 {
    font-size: 3.2rem;
}

h6 {
    font-size: 2rem;
}

p {
    font-size: 1.6rem;
}

/* Class */
.screen {
    position: relative;
    height: 100vh;
    z-index: 10;
    background-color: var(--light-color);
}

.screen.dark {
    background-color: var(--dark-color);
}

.box {
    position: absolute;
    top: 25%;
    left: 10rem;

    display: inline-block;
    height: 25%;
    border: 1rem solid var(--light-color);
    padding: 5% 3%;
}

.background-img {
    z-index: 0;
}

.subheading {
    padding: 1% 0;
    font-size: 3.2rem;
}

.menu {
    padding-top: 2%;
}

.menu .menu-item {
    display: inline-block;
    margin-right: 4%;

    cursor: pointer;
    font-size: 2rem;
}

.menu .menu-item a {
    color: var(--dark-color);
    text-decoration: none;
}

.menu .menu-item a:hover {
    color: var(--sub-color);
}

.menu .menu-item a:hover .square {
    background-color: var(--sub-color);
    transform: translateY(10%) rotate(45deg) scale(0.65);
}

.squarebox {
    position: relative;
    display: inline-block;
    height: 2rem;
    width: 2rem;
}


.square {
    position: absolute;
    top: 0;
    left: 0;

    width: 100%;
    height: 100%;
    background-color: var(--dark-color);

    transform: translateY(10%) rotate(45deg) scale(0.5);
}

.square-clear {
    position: absolute;
    top: 0;
    left: 0;

    width: 100%;
    height: 100%;
    background-color: var(--transparent);
    border: .5rem solid var(--main-color);

    transform: translate(-45%, -10%) rotate(45deg) scale(0.5);
}

.square.alt {
    background-color: var(--main-color);
}

.square-clear.alt {
    border: .5rem solid var(--dark-color);
}

.titlebox {
    padding-top: 8%;
    padding-left: 14.5rem;
}

.titlebox h2 {
    line-height: 6rem;
}

.titlebox p {
    font-size: 2.4rem;
}

.grid {
    display: grid;
    grid-template-rows: 1fr;
    grid-template-columns: 1fr 1fr 1fr;
    column-gap: 4rem;

    margin-top: 5%;
    padding: 0 14.5rem;

}

.grid .grid-item {
    border: .4rem solid var(--light-color);
    padding-left: 2rem;
    padding-top: 1rem;
    padding-bottom: 1rem;
}

.grid .grid-item .menu .menu-item {
    display: block;
    cursor: default;
    margin-top: .4rem;
}

.grid .square {
    transform: translateY(15%) rotate(45deg) scale(0.5);
}

.grid .square-clear {
    transform: translate(-45%, -6%) rotate(45deg) scale(0.5);
}

/* ID */
#intro {
    background: linear-gradient(90deg, rgba(208,232,242,1) 0%, rgba(208,232,242,1) 50%, rgba(208,232,242,0) 100%);
    color: var(--dark-color);
}

#skills {
    background-color: var(--dark-color);
    color: var(--main-color);
}